{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        <div class="custom-intro-outer">
            <section class="custom-intro">
                <div class="custom-intro-content gh-content gh-canvas">
                    <h1>{{@custom.intro_header}}</h1>
                    <p>
                        {{@custom.intro_text}}
                    </p>
                    {{#if @custom.intro_subscribe_text}}
                        <div class="kg-card kg-button-card kg-align-center">
                            <a href="#/portal/signup/free" class="kg-btn kg-btn-accent">{{@custom.intro_subscribe_text}}</a></div>
                        <h2 id=""><br><br></h2>
                    {{/if}}
                </div>
                <div class="custom-intro-image">
                    <img src="{{@custom.intro_image}}" alt="{{@site.title}}">
                </div>
            </section>
        </div>
        <section class="gh-topic gh-topic-grid">
            <h2 class="gh-topic-name">
                {{#match pagination.pages ">" 1}}
                    <a href="{{@site.url}}/page/2">Latest</a>
                {{else}}
                    Latest
                {{/match}}
            </h2>

            <div class="gh-topic-content">
                {{#foreach posts limit="5"}}
                    {{> "loop-grid" has_large_post=false}}
                {{/foreach}}
            </div>

            <footer class="gh-topic-footer">
                {{#match pagination.pages ">" 1}}
                    <a class="gh-topic-link" href="{{@site.url}}/page/2">Show more {{> "icons/arrow"}}</a>
                {{/match}}
            </footer>
        </section>

        {{#if @custom.enter_tag_slugs_for_primary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_primary_sections}}]"}}
                {{#foreach tags}}
                    {{> "topic-grid"}}
                {{/foreach}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                    {{#foreach tags}}
                        {{> "topic-grid"}}
                    {{/foreach}}
                {{/get}}
            {{/match}}
        {{/if}}

        {{#if @custom.enter_tag_slugs_for_secondary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_secondary_sections}}]"}}
                {{#if tags}}
                    <div class="gh-topic-list">
                        {{#foreach tags}}
                            {{> "topic-minimal"}}
                        {{/foreach}}
                    </div>
                {{/if}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc"}}
                    {{#if tags.[3]}}
                        <div class="gh-topic-list">
                            {{#foreach tags from="4" limit="3"}}
                                {{> "topic-minimal"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/match}}
        {{/if}}
    </div>
</main>